@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color;
}

.activityButtonContainer {
  display: flex;
  @include modalStyle;
  background-color: $secondary-color;
  padding: 5px;
  flex-direction: column;
  margin-bottom: 20px;
 
  .modifyButton{
    @include buttonModifyStyle();
   
  }
  .buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .modifyButton {
      @include buttonAddStyle;
      background-color: $primary-color;
      color: $secondary-color;
    }

    .deleteButton{
      @include buttonDeleteStyle;
    }
  }
  .leftContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      color: $primary-color;
    }
    p {
      color: $primary-color;
    }
  }
  .rightContainer {
    width: 40%;
    height: 60%;
    align-items: flex-end;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .activity_card_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

   
  }
}
