.navbarContainer{
    position: absolute;
    top:10px;
    left: 0px;
    height: 20vh;
    background-color: red;
    

    @import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";

    .navbarlinks {
        position: absolute;
        top: 0px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none !important;

        

        li {
            margin: 10px;
            list-style-type: none !important;


            a{
                text-decoration: none !important;
                color: $color;
                font-weight: 600;


            }
        }
     }


}