@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color;
}
body {
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
.logoutButton {
@include logoutButton();
}

}

.activityModal {
  background-image: url("https://cdn.pixabay.com/photo/2019/09/15/14/33/city-4478464_1280.jpg");
  background-position: center;
  background-size: cover;
  @include modalStyle();
  margin-top: 20px;


  button {
    @include buttonAddStyle;
    background-color: $primary-color;
    color: black; 
    cursor: pointer;
  }
}
  .programModal{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/29/12/07/adult-2693054_1280.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    @include modalStyle();
  
    button {
      @include buttonAddStyle;
      background-color: $primary-color;
      color: black;
      width: auto;
      padding: 10px;
      cursor: pointer;
    }
  }

  .eatModal {
    background-image: url("https://cdn.pixabay.com/photo/2017/06/09/19/35/smorgastarta-2388075_1280.jpg");
    background-position: center;
    background-size: cover;
    @include modalStyle();
    margin-top: 20px;
  
    button {
      @include buttonAddStyle;
      background-color: $primary-color;
      color: black;
    }
  }
  .sleepModal {
    background-image: url("https://images.pexels.com/photos/33612/sailboat-water-stockholm-ship.jpg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    background-size: cover;
    @include modalStyle();
    margin-top: 20px;
  
    button {
      @include buttonAddStyle;
      background-color: $primary-color;
      color: black;
      
    }
  }
 
  @media screen and (min-width :750px) {
    .modalesContainer{
      display: flex; /* Afficher les activités en ligne (en "row") */
      flex-wrap: wrap; /* Permettre à la ligne de se casser si nécessaire */
      justify-content: space-around; /* Aligner les activités avec un espace entre elles */
      gap: 20px; /* Ajouter un espace de 20px entre chaque activité */
    }
  }