@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color;
}

.pictureBlock {
  display: flex;
  flex-direction: column;


  .pictureStockholm {
    display: none;
  }

  .pageContainer {
    .login_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
        margin-top: 20px;
        align-items: center;
      }

      button {
        align-items: center;
        background-color: #0A66C2;
        border: 0;
        border-radius: 100px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        font-family: "Imprima",
          sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 20px;
        max-width: 480px;
        min-height: 40px;
        min-width: 0px;
        overflow: hidden;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        touch-action: manipulation;
        transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        margin-bottom: 20px;
      }
    }

    .logo {

      img {
        display: flex;

      }
    }
  }
}

@media screen and (min-width: 1400px) {

  .pictureBlock {
    display: flex;
    flex-direction: row;

    .pictureStockholm {
      display: flex;
      width: 50vw;
      height: 100vh;
    }

    .logo {
      display: none;
    }

    .login_box {
      display: flex;
      flex-direction: column;
      width: 50vw;

    }
  }


}