@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color;
}

.logo {
  display: flex;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .logoutButton {
    @include logoutButton();
    cursor: pointer;

    }
    h2{
      margin-bottom: 20px;
      margin-top: 30px;

     }
  .activity_card_container {
    display: flex;
    background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    flex-direction: row;
    margin-bottom: 20px;
    width: 321px;
    height: 208px;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    .leftContainer {
      width: 60%;
      height: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        color: black;
        margin-top: 10px;
      }
      p {
        color: black;
      }
    }
    .rightContainer {
      width: 30%;
      height: 80%;
      align-items: flex-end;
      img {
        width: 100px;
        height: 100%;
      }
    }


  }
}
@media screen and (min-width :750px) {
  .activity_list_container {
    display: flex; /* Afficher les activités en ligne (en "row") */
    flex-wrap: wrap; /* Permettre à la ligne de se casser si nécessaire */
    justify-content: space-around; /* Aligner les activités avec un espace entre elles */
    gap: 20px; /* Ajouter un espace de 20px entre chaque activité */
  }
}