@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import "../../Variables/Variables.scss";
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color;
}

.logo {
  display: flex;
  justify-content: center;
}

.navigateButton{
  position: absolute;
  background-color: $secondary-color;
  border-radius: 10px;
  color: $primary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  top:10px;
  right: 10px;
  font-size: 16px;
  height: 55x;
  padding: 10px;
}
.presentation {
  font-size: $font-size;

  padding: 10px;
  text-align: center;

  h2 {
    margin-top: 30px;
  }
}
